body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrollbars */
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 0px; /* Adjust the padding to bring the border closer */
    display: block;
    margin: auto; /* Center horizontally */
    border: 10px solid rgb(63, 31, 19); /* Add border around the image */
}
